html{
	display: inline-block;
	width: 100%;
	height: 100%;	
}

body{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #2F3B31;
	margin: 50px 10% 0px 10%;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1, h2, h3{
	display: inline-block;
	color: black;
	margin: 0px;
}

h1{
	font-size: 50px;
	color: black;
}	

h2{
	font-size: 45px;
	color: black;	
}

.bold{
	font-weight: bold;
}

.clear{
	clear: both;
	float: right;
}

.padding_vertical{
	display: inline-block;
	width: 5px;
	height: 100%;
	background-color: orange;
	float: left;
}

.padding_horizontal{
	display: inline-block;
	width: 100%;
	height: 5px;
	background-color: orange;
	float: left;	
}

.horizontal_bar{
	display: block;
	width: 100%;
	height: 3px;
}

.header{
	display: block;
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	background-color: #2F3B31;
}

#container{
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;	
	background-color: white;
}

	#title{
		display: inline-block;
		width: 100%;
		background-color: white;
		float: left;
		text-align: center;
	}

	#left{
		display: inline-block;
		width: 15%;
		height: 100%;
		float: left;
		background-color: white;
	}

	#middle{
		display: inline-block;
		width: 60%;
		height: 100%;
		float: left;
		background-color: #2F3B31;	
		border-top-left-radius: 10px;
	}

	#right{
		display: inline-block;
		width: 23%;
		height: 98%;
		padding: 1%;
		float: left;
		background-color: #2F3B31;
	}

	#filter_container{
		display: inline-block;
		width: 100%;		
		height: 68%;
		padding: 1% 0%;			
		background-color: #2F3B31;
		background-color: white;
		float: left;
		text-align: center;
	}

		#filter_container hr{
			width: 80%;
		}

		#filter_container form{
			margin: 0px;
			padding: 0px;
		}

		#select_mac{
			display: inline-block;
			width: 200px;
			height: 40px;
		}

		#select_mac option{
			height: 30px;
			text-align: center;
		}	

		#text_port{
			height: 40px;
		}	

		#btn_submit{
			width: 100px;
			height: 40px;
		}

	#usage{
		display: block;
		width: 100%;
		height: 30%;
		height: 300px;		
		background-color: orange;
		font-size: 30px;
	}	

		#usage_container_chart{
			display: block;
			width: 100%;
			height: 100%;
			float: left;
			background-color: #2F3B31;
		}

	#protocols{
		display: block;
		width: 100%;
		height: 30%;
		height: 300px;
		background-color: orange;
		font-size: 20px;
	}

		#protocol_container_chart{
			display: block;
			width: 100%;
			height: 100%;
			float: left;	
			background-color: #2F3B31;
		}

	#geolocation{
		display: block;
		width: 100%;
		height: 30%;
		background-color: #2F3B31;
	}

	#geolocation li{
		text-align: left;
		width: 150px;	
	}	


	#timeline{
		display: inline-block;	
		width: 98%;	
		height: 58%;
		height: 400px;
		padding: 1%;
		float: left;
		background-color: #2F3B31;
		/*background-color: blue;*/
		border-top-left-radius: 10px;
	}

		#timeline h1{
			display: inline-block;
			width: 20%;
			text-align: center;
			margin: 0% 40%;
			float: left;
		}

		#timeline #timeline_container_chart{
			display: inline-block;
			width: 100%;
			height: 100%;			
			background-color: #2F3B31;
			float: left;
		}

	#flows_table{
		display: block;	
		width: 98%;
		height: 50%;
		padding: 1%;
		float: left;
		background-color: #2F3B31;
	}	

		#flows_table .row:first-child{
			font-weight: bold;
		}

		#flows_table .row:first-child .cell:first-child{
			/*background-color: yellow;*/
		}

		#flows_table .row{
			display: block;	
			width: 100%;	
			height: 40px;
			background-color: white;
		}		

		#flows_table .cell{
			display: inline-block;	
			width: 200px;	
			height: 100%;			
			float: left;
			background-color: white;
			text-align: center;
		}	



#junk{
	display: inline-block;
	background-color: orange;
}