html{
	display: inline-block;
	width: 100%;
	height: 100%;	
}

body{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #2F3B31;
	margin: 50px 10% 0px 10%;
}

h1, h2, h3{
	display: inline-block;
	color: black;
	margin: 0px;
}

.bold{
	font-weight: bold;
}

.clear{
	clear: both;
	float: right;
}

.padding_vertical{
	display: inline-block;
	width: 5px;
	height: 100%;
	background-color: orange;
	float: left;
}

.padding_horizontal{
	display: inline-block;
	width: 100%;
	height: 5px;
	background-color: orange;
	float: left;	
}

.horizontal_bar{
	display: block;
	width: 100%;
	height: 3px;
}

#container{
	display: block;
	width: 80%;
	height: 100%;
	margin-bottom: 20px;		
}

	#title{
		display: inline-block;
		width: 98%;
		padding: 1%;
		margin-bottom: 5px;
		background-color: #E9E7E7;
		float: left;
	}

	#filter_container{
		display: inline-block;
		width: 19%;		
		height: 75%;
		padding: 1% 0%;		
		padding-left: 1%;
		margin-right: 5px;		
		background-color: #E9E7E7;
		float: left;
	}

		#filter_container h2{
			color: black;
		}

		#filter_container form{
			margin: 0px;
			padding: 0px;
		}

		#filter_container #select_mac{
			display: inline-block;
			width: 200px;
			height: 30px;
		}

		#filter_container #select_mac option{
			height: 20px;
		}	

		#filter_container #btn_submit{
			width: 100px;
			height: 40px;
		}

		#filter_container #timeline ul li{
			display: inline-block;
			text-decoration: none;
			float: left;
		}	

	#overview{
		display: inline-block;	
		width: 77%;	
		height: 50%;
		padding: 1%;
		float: right;
		background-color: #E9E7E7;
	}

		#overview h1{
			display: inline-block;
			width: 20%;
			text-align: center;
			margin: 0% 40%;
			float: left;
		}

		#overview_container_chart{
			display: inline-block;
			width: 75%;
			height: 90%;
			margin-left: 5%; 
			margin: 0% 12.5%;
			background-color: #E9E7E7;
			float: left;
		}

	.tiles_container{
		display: inline-block;
		width: 79%;
		background-color: #E9E7E7;
		float: right;
	}

		.tile{
			display: inline-block;
			width: 31.333%;
			padding: 1%;
			background-color: #E9E7E7;
			float: left;
			text-align: center;
		}

			/* Protocol */
			#protocol_container_chart{
				display: inline-block;
				width: 50%;
				height: 30%;
			}

			#protocol_container_legend{
			    background-color: #fff;
			    padding: 2px;
			    margin-bottom: 8px;
			    border-radius: 3px 3px 3px 3px;
			    border: 1px solid #E6E6E6;
			    display: inline-block;
			    margin: 0 auto;
			}

			/* Usage */
			#usage_container_chart{
				display: inline-block;
				width: 50%;
				height: 30%;
				background-color: #E9E7E7;
			}

			#usage_container_legend{
			    background-color: #fff;
			    padding: 2px;
			    margin-bottom: 8px;
			    border-radius: 3px 3px 3px 3px;
			    border: 1px solid #E6E6E6;
			    display: inline-block;
			    margin: 0 auto;
			}

			/* Geolocation */
			#geolocation_container_chart{
				display: inline-block;
				width: 50%;
				height: 30%;			
			}		

			.tile li{
				text-align: left;
				width: 150px;	
			}	

	#flows_table{
		display: block;	
		width: 77%;
		height: 50%;
		padding: 1%;
		float: right;
		background-color: #E9E7E7;
	}	

		#flows_table .row:first-child{
			font-weight: bold;
		}

		#flows_table .row:first-child .cell:first-child{
			/*background-color: yellow;*/
		}

		#flows_table .row{
			display: block;	
			width: 100%;	
			height: 40px;
			background-color: white;
		}		

		#flows_table .cell{
			display: inline-block;	
			width: 200px;	
			height: 100%;			
			float: left;
			background-color: white;
			text-align: center;
		}	


#junk{
	display: inline-block;
	background-color: orange;
}