html{
	display: inline-block;
	width: 100%;
	height: 100%;	
}

body{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: white;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #3C4B53;
}

.bold{
	font-weight: bold;
}

.clear{
	clear: both;
}

.center_text{
	vertical-align: middle;
}

#container{
	display: block;
	width: 100%;	
	background-color: #3C4B53;
	font-family: 'Courier';
}

	.smooth_h{
		display: block;
		width: 100%;
		height: 1px;
		background-color: #42535c;
	}	

	#description_container{
		display: block;
		width: 100%;
		height: 100px;
		background-color: white;
	}

	#menu{
		display: block;
		width: 85%;
		height: 50px;
		padding-left: 19%;
		background-color: #2F3B31;
		color: white;
		position: fixed;
		box-shadow: 0.5px 0px 15px black;
		z-index: 1000;
		font-size: 0.8em;
	}

		#menu div.current{
			opacity: 0.5;
			cursor: pointer;
			background-color:rgba(0, 0, 0, 0.5);
		}

		#menu div{
			display: inline-block;
			width: 100px;
			height: 50px;
			padding: 0px 10px;
			line-height: 50px;
			text-align: center;
			float: left;
		}

		#menu > div.hover:hover{
			cursor: pointer;
			background-color:rgba(0, 0, 0, 0.5);
		}

		.interest{
			display: inline-block;
			height: 100%;
			padding: 0px 10px;
			margin-right: 20px;
			line-height: 50px;
		}

		span#title{
			display: inline-block;
			height: 50px;
			padding: 0px 10px;
			vertical-align: middle;
			color: white;
			text-align: center;
			line-height: 50px;
			font-size: 1.1em;
			float: right;
		}

		div#menu_more{
			width: 20px;
		}

		/* Menu */
		div#menu_hidden{
			display: none;
			width: 50%;
			padding: 0px;
			float: left;
		}

		div#menu_protocols, div#menu_ports, div#menu_flows, div#menu_packets{
			display: inline-block;
			float: left;
		}		

	#filter_container{
		display: inline-block;
		width: 15%;
		min-width: 150px;
		height: 100%;
		/*padding-top: 50px;*/
		background-color: #2F3B31;
		color: white;
		position: fixed;
		box-shadow: 0.5px 0px 15px black;
		z-index: 1001;
	}

		/* Filters */
		#filter{
			display: block;
			width: 100%;
			/*margin-top: 100px;*/
			/*background-color: red;*/
		}

			div.hover:hover{
				/*opacity: 0.5;*/
				cursor: pointer;
				background-color:rgba(0, 0, 0, 0.5);
				/*box-shadow: 0.5px 0px 15px black;*/
			}

			div.selected{
				background-color: #3D4C40;
				opacity: 0.5;
			}

			#filter_devices{
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 0.8em;				
				text-align: center;
			}

				#devices_menu{
					display: none;
					width: 100%;
					max-height: 180px;
					color: black;
					overflow-y: scroll;
					background-color: white;
					font-size: 0.8em;
					z-index: 1001;
				}

				#devices_menu .item{
					display: block;
					width: 100%;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}

				#devices_menu .item:hover{
					opacity: 0.5;
					cursor: pointer;
					background-color:rgba(0, 0, 0, 0.5);
				}

				#devices_menu .item.bad{
					background-color: #FF5C5C;
				}

			#filter_direction{
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 0.8em;
				text-align: center;				
			}

				#direction_menu{
					display: none;
					width: 100%;
					height: 90px;
					background-color: white;
					color: black;
					font-size: 0.8em;
				}

				#direction_menu .item{
					display: block;
					width: 100%;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}

				#direction_menu .item:hover{
					opacity: 0.5;
					cursor: pointer;
					background-color:rgba(0, 0, 0, 0.5);
				}

			#filter_applications{
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 0.8em;				
				text-align: center;				
			}

				#applications_menu{
					display: none;
					width: 100%;
					height: 150px;
					font-size: 0.8em;
					background-color: white;
					color: black;
					overflow-y: scroll;
				}

				#applications_menu .item{
					display: block;
					width: 100%;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}

				#applications_menu .item:hover{
					opacity: 0.5;
					cursor: pointer;
					background-color:rgba(0, 0, 0, 0.5);
				}

			#filter_month{
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 0.8em;				
				text-align: center;				
			}

				#months_menu{
					display: none;
					width: 100%;
					/*height: 150px;*/
					background-color: white;
					color: black;
					overflow-y: hidden;
				}

				#months_menu .item{
					display: inline-block;
					width: 33.33%;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}

				#months_menu .item:hover{
					opacity: 0.5;
					cursor: pointer;
					background-color:rgba(0, 0, 0, 0.5);
				}

			#filter_day{
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 0.8em;				
				text-align: center;
			}

				#days_menu{
					display: none;
					width: 100%;
					/*height: 210px;*/
					color: black;
					background-color: white;
					overflow: hidden;
				}

				#days_menu .item{
					display: inline-block;
					width: 20%;
					height: 30px;
					line-height: 30px;
					font-size: 0.7em;
					text-align: center;
				}

				#days_menu .item:hover{
					/*opacity: 0.5;*/
					cursor: pointer;
					background-color:rgba(0, 0, 0, 0.5);
				}				

			#filter_hour{
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 0.8em;
				text-align: center;
			}

				#hours_menu{
					display: none;
					width: 100%;
					/*height: 150px;*/
					color: black;
					background-color: white;
					overflow: hidden;
					font-size: 0.7em;
				}

				#hours_menu .item{
					display: inline-block;
					width: 20%;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}

				#hours_menu .item:hover{
					/*opacity: 0.5;*/
					cursor: pointer;
					background-color: rgba(0, 0, 0, 0.5);
				}	

			#filter_more{
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 0.8em;				
				text-align: center;
			}

				#filter_more_menu{
					display: none;
					width: 100%;
					padding: 20px 0px;
					background-color: white;
				}

					#filter_source_port, #filter_destination_port{
						display: block;
						width: 80%;
						height: 30px;
						margin: 0% 10%;
						text-align: center;					
					}

	#main_container{
		display: inline-block;
		width: 85%;
		min-height: 100%;
		margin-top: 50px; /* Fixed */
		margin-left: 15%; /* Fixed */
		background-color: #3C4B53;
		font-size: 0.7em;
	}
		.full_width_padding{
			display: block;
			width: 98%;
			padding: 1%;
			margin: auto;
			/*background-color: red;*/
		}

		#main{
			display: block;
			width: 90%;
			min-width: 1250px;
			min-height: 600px;
			margin: 2% 5%;
			background-color: white;
		}

		#main_header{
			display: block;
			width: 100%;
			height: 100px;
			background-color: yellow;
		}

		.half_padding{
			display: inline-block;
			width: 42%;
			height: 50%;
			padding: 4%;		
		}

		.third_padding{
			display: inline-block;
			width: 25%;
			height: 50%;
			padding: 4%;
			/*background-color: black;*/
		}

		.quarter_padding{
			display: inline-block;
			width: 21%;
			height: 50%;
			padding: 2%;
			/*background-color: black;*/
		}		


		/******************************* Overview ***********************************/
		#overview_table{
			display: block;
			/*width: 100%;*/
			background-color: white;
			border: 1px solid #DDE5ED;
			font-size: 1.5em;
		}

		#overview_table .header, #overview_table .row{
			display: block;
			width: 100%;
			float: left;
		}

		#overview_table .item{
			width: 16.5%;
			height: 30px;
			margin: 1px;
			line-height: 30px;
			text-align: right;
			float: left;						
		}

		#overview_table .header .item{
			font-weight: bold;			
		}

		#overview_table .row .item{
			background-color: #F5F4F4;
		}

		/* Devices item */
		#overview_table div.header > div.device{
			display: inline-block;
			/*width: 15%;*/
			background-color: none;	
		}
		#overview_table > div > div.device{
			display: inline-block;
			/*width: 15%;
			padding: 1% 0%;*/
		}

		/* Devices name */
		#overview_table div.header > div.device_name{
			display: inline-block;
			/*width: 15%;*/
		}
		#overview_table > div > div.device_name{
			display: inline-block;
			/*width: 15%;
			padding: 1% 0%;*/
		}

		/* Device name text box */
		#overview_table #text_name{
			display: none;
			text-align: right;
		}		

		/* Time items */
		#overview_table > div.header > div.date_start, #overview_table > div.header > div.date_end{
			display: inline-block;
			/*width: 15%;*/
		}
		#overview_table > div > div.date_start, #overview_table > div > div.date_end{
			display: inline-block;
			/*width: 15%;
			padding: 1% 0%;*/
		}

		/* Downloaded, Uploaded */
		#overview_table > div.header > div.downloaded, #overview_table > div.header > div.uploaded{
			display: inline-block;
			/*width: 13%;*/
		}
		#overview_table > div > div.downloaded, #overview_table > div > div.uploaded{
			display: inline-block;
			/*width: 13%;
			padding: 1% 0%;*/
		}		

		/* Usage */
		#overview_table > div > div.total_traffic{
		display: inline-block;
			/*width: 14%;*/
		}
		#overview_table > div > div.total_traffic{
			display: inline-block;
			/*width: 14%;
			padding: 1% 0%;*/
		}
		/*************************************************************************************/

		#overview_traffic_pie_title{
			display: inline-block;
			width: 100%;
			text-align: center;
			font-size: 2em;
		}

		#overview_traffic_pie{
			display: block;
			width: 100%;
			height: 100%;
			margin-top: 5px;
			border: 1px solid #DDE5ED;
			/*background-color: yellow;			*/
		}

		#application_pie_title{
			display: inline-block;
			width: 100%;
			text-align: center;
			font-size: 2em;
			/*background-color: green;*/
		}

		#overview_applications_pie{
			display: block;
			width: 100%;
			height: 100%;
			margin-top: 5px;
			border: 1px solid #DDE5ED;
			/*background-color: yellow;*/
		}		

		.overview_padding{
			display: inline-block;
			width: 50%;
			height: 300px;
			line-height: 40px;
			font-size: 1.3em;
			text-align: center;
		}

			#overview_downloaded{
				display: inline-block;
				width: 100%;
				height: 100%;
			}

			#overview_uploaded{
				display: inline-block;
				width: 100%;
				height: 100%;
			}

		#stat_description{
			display: block;
			width: 100%;
			height: 100px;
			line-height: 100px;
			font-size: 1.5em;
			/*background-color: red;*/
		}

		.timeline_padding{
			display: inline-block;
			width: 68%;
			padding: 1%;
			/*background-color: black;*/
			float: left;
		}

			#stat_timeline{
				display: inline-block;
				width: 100%;
				height: 300px;
				/*background-color: red;*/
				float: left;
			}

		.pie_padding{
			display: inline-block;
			width: 28%;
			padding: 1%;
			float: left;
		}

			#stat_pie{
				display: inline-block;
				width: 100%;
				height: 300px;
				/*background-color: orange;*/
				float: left;
			}

		.table_padding{
			display: inline-block;
			width: 98%;
			padding: 1%;
			float: left;
		}

		#stat_table{
			display: block;
			width: 100%;
			/*background-color: red;*/
			text-align: center;
			/*overflow-y: scroll;*/
		}

			#stat_table span{
				padding: 5px 0px;
				text-align: right;
			}	

				#stat_table .header{
					font-weight: bold;
				}

				#stat_table .row{
					width: 100%;
					float: left;
				}

				#stat_table .row:hover{
					cursor: pointer;
					opacity: 0.5;	
				}

				#stat_table .row:nth-child(2n){
					background-color: #F5F4F4;
				}			

				#stat_table span{
					float: left;
					height: 20px;
					line-height: 20px;
				}

				#stat_table > div > span:nth-child(1){
					width: 15%;
				}

				#stat_table > div > span:nth-child(2), #stat_table > div > span:nth-child(3), #stat_table > div > span:nth-child(4){
					width: 10%;
				}

				#stat_table > div > span:nth-child(5){
					width: 10%;
				}

				#stat_table > div > span:nth-child(6), #stat_table > div > span:nth-child(7){
					width: 15%;
				}

		#top_downloaders{
			display: inline-block;
			width: 300px;
			height: 300px;
			background-color: orange;
			float: left;
		}


		#button_name:hover{
			text-decoration: underline;
			cursor: pointer;
		}

			/******************** Locations *************************/

			.locations_pie_padding{
				display: inline-block;
				width: 48%;
				padding: 1%;
				margin: 0% 25%;
				/*background-color: black;*/
			}

			#locations_pie{
				display: inline-block;
				width: 70%;
				height: 300px;
				/*background-color: orange;*/
				float: left;
			}			

			#locations_pie_legend{
				display: inline-block;
				width: 30%;
				height: 300px;
				float: left;
				/*background-color: red;*/
			}

			#locations_table{
				display: block;
				width: 60%;
				padding-left: 20px;
				margin: 0% 20%;
				/*background-color: red;*/
				color: black;
				font-size: 1.3em;
				float: left;
			}

			#locations_table > div{
				display: block;
				width: 100%;
				float: left;
			}

			#locations_table .header{
				display: block;
				width: 100%;
				font-weight: bold;
				/*background-color: orange;*/
			}

			#locations_table .row{
				display: block;
				width: 100%;
				padding: 5px 0px;
				float: left;
				/*background-color: green;*/
			}

			#locations_table .row:nth-child(2n){
				background-color: #F5F4F4;
			}

			#locations_table .header .item{
				font-weight: bold;
				padding: 0px;
			}

			#locations_table .item{
				display: inline-block;
				height: 20px;
				line-height: 20px;
				text-align: right;
				float: left;	
			}

			/* Location */
			#locations_table .item.location{
				width: 40%;
			}

			/* Downloaded */
			#locations_table .item.downloaded, #locations_table .item.uploaded{
				width: 20%;
			}			

			/* Traffic */
			#locations_table .item.traffic{
				width: 20%;
			}

			/*******************************************************/