{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'visualise/css/main.css' %}" />
    <script type="text/javascript" src="{% static 'visualise/javascript/jquery-2.1.3.min.js' %}" ></script>
    <script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'visualise/javascript/main.js' %}" ></script>

</head>
<body>
    <div id="container">

    <div id="title">
    <h1>Network Flow Visualisation</h1>

    Things to do:
    <ul>
        <li>Network activity</li>
        <li>Device activity</li>      
        <li>Filters</li>
        <li>Layers</li> 
        <li>Geolocation</li>
        <li>Use Libprotoident for application inspection?</li>
    </ul>
    </div>

    <div id="menu">
        <div id="menu_item">Overview</div>
        <div id="menu_item">Data Link</div>
        <div id="menu_item">Network</div>
        <div id="menu_item">Transport</div>
        <div id="menu_item">Application</div>
    </div>

    </div>  <!-- Close container -->
</body>
</html>