{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'visualise/css/main.css' %}" />
<script type="text/javascript" src="{% static 'visualise/javascript/jquery-2.1.4.min.js' %}" ></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.time.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.axislabels.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'visualise/javascript/variables.js' %}" ></script>
<script type="text/javascript" src="{% static 'visualise/javascript/misc.js' %}" ></script>
<script type="text/javascript" src="{% static 'visualise/javascript/populate.js' %}" ></script>
<script type="text/javascript" src="{% static 'visualise/javascript/request.js' %}" ></script>
<script type="text/javascript" src="{% static 'visualise/javascript/visuals.js' %}" ></script>
<script type="text/javascript" src="{% static 'visualise/javascript/tables.js' %}" ></script>
<script type="text/javascript" src="{% static 'visualise/javascript/host.js' %}" ></script>
<script type="text/javascript" src="{% static 'visualise/javascript/main.js' %}" ></script>

<!-- 
The default page displays generic network information.
For specific device information to be displayed, the filter must be applied which sends an AJAX request to the server to retreive statistics about the selected MAC address.
-->

<div id="container">    
    <div id="top_1">
        <span id="title">Network Flow Visualisation</span>
        <div id="menu_overview" class="current">Overview</div> 
        <div id="menu_downloaded">Downloaded</div>
        <div id="menu_uploaded">Uploaded</div>
        <div id="menu_locations">Locations</div>
        <div id="menu_applications">Applications</div>
        <!--<div id="menu_more">More</div>
        <div id="menu_protocols">Transport Protocols</div>-->
    </div>

    <div id="left_1">

        <div id="filter_container">

            <div id="filter_devices" class="hover">Device</div>
            <div id="devices_menu"></div>

            <div id="filter_direction" class="hover">Direction</div>
            <div id="direction_menu">
                <div id="direction_incoming" class="item">Incoming</div>
                <div id="direction_outgoing" class="item">Outgoing</div>
                <div id="direction_both" class="item">Both</div>
            </div>

            <div id="filter_month" class="hover">Month</div>
            <div id="months_menu"></div>

            <div id="filter_day" class="hover">Day</div>
            <div id="days_menu"></div>

            <div id="filter_hour" class="hover">Hour</div>
            <div id="hours_menu"></div>

            <div id="filter_more" class="hover">More</div> 
            <div id="filter_more_container">
                <input id="filter_source_port" type="text" placeholder="Source Port"></input>
                <input id="filter_destination_port" type="text" placeholder="Destination Port"></input>
            </div>

            <!--<div class="">Domain</div>-->
            <!--<div id="menu_filter" class="item">Filter</div>
            <div id="menu_preferences" class="item">Preferences</div>-->
        </div> 
        <!--
        <div id="overview_table">    
            <div id="devices" class="row">
                <div>Devices</div>
            </div>
            <div id="downloaded" class="row">
                <div>Downloaded</div>
            </div>
            <div id="uploaded" class="row">
                <div>Uploaded</div>
            </div>
        </div>
        -->
    </div>


    
    <div id="left_2">
        
        <div id="stat_container">
            <!--
            <div class="timeline_padding">
                <div id="stat_timeline"></div>
            </div>
            <div class="pie_padding">
                <div id="stat_pie"></div>
            </div>
            <div id="stat_table"></div>
        </div>
        -->
        <!--<div id="top_downloaders"></div>-->

    </div>
    
</div><!-- Close container -->