{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'visualise/css/main.css' %}" />
<script type="text/javascript" src="{% static 'visualise/javascript/jquery-2.1.3.min.js' %}" ></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.time.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.axislabels.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'visualise/javascript/flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript" src="{% static 'visualise/javascript/main.js' %}" ></script>

<div id="container">    

    sdafsdgsdfghsdhsdh

</div>  <!-- Close container -->